body {
  background-color: lightblue;
}

.App {
  text-align: center;
  color: pink;
  text-shadow: 0px 0px 10px black;
  background-color: hotpink;
  border-radius: 100%;
  width: 80%;
  height: 300px;
  margin: 5% 10%;
  padding-top: 100px;
}
